#menu {
	display: flex;
    
}
#menu a {
	margin-right: 10px;
	padding: 10px;
	font: 15px Arial;
	text-decoration: none;
	color: white;
	border: 1px solid white;
	background-color: green;
    width: 60px;
    text-align: center;
    
    
}
#menu a:hover, #menu a.active {
	color: green;
	border: 1px solid green;
	background-color: #F5F6FA;
}
#menu1 {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#menu1 a {
	margin-right: 5px;
    margin-bottom: 10px;
	padding: 10px;
	font: 15px Arial;
	text-decoration: none;
	color: white;
	border: 1px solid white;
	background-color: green;
    width: 250px;
    height: 30px;
}
#menu1 a:hover, #menu1 a.active1 {
	color: green;
	border: 1px solid green;
	background-color: #F5F6FA;
}
#menu2 {
	display: flex;
    flex-direction: row;
    align-items: flex-start;
}
#menu2 a {
	padding: 10px;
	font: 15px Arial;
	text-decoration: none;
	color: white;
	border: 0px solid white;
	background-color: green;
    width: 250px;
    height: 30px;
}
#menu2 a:hover, #menu2 a.active2 {
	color: white;
	border: 0px solid green;
	background-color: darkgreen;
}

